@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/* Reset default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set color scheme */
body {
    background-color: #000000;
    color: #ffffff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ffffff;
}

/* Page layout */
header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

.sogo img {
    max-width: 100px;
}

nav ul li a:hover {
    color: #800080;
    transition: 0.4s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    border: none;
}

section {
    text-align: center;
}


.cta {
    display: inline-block;
    background-color: #800080;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.4s ease;
    transition: 0.4s;
}

.cta.hire-me {
    margin-left: 10px;
}

.cta:hover {
    background-color: #600060;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 10px 0;
}

/* End Home Page */

/* Education Page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set color scheme */
body {
    background-color: #000000;
    color: #ffffff;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}
p{
    color: gray;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ffffff;
}

/* Page layout */
header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
}


.education {
    margin-top: 50px;
}

.education-item {
    margin-bottom: 40px;
    line-height: 1.5;
    border: 1px solid #ffffff; /* Add border style */
    padding: 20px;
    border-radius: 5px;
}

.cta {
    display: inline-block;
    background-color: #800080;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: #600060;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 10px
}
/* End Education Page */

/* SKills Page */
.skills {
    margin-top: 50px;
}

.skills-category {
    margin-bottom: 40px;
    margin-top: 50px;
    line-height: 1.;
    border: 1px solid #ffffff;
    padding: 20px;
    border-radius: 5px;
}


.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 10px;
}

.skill-name {
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
    color: gray;
}

.progress-bar {
    background-color: #ffffff;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #800080;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

/* Personal Page */

/* Personal details section */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Reset default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set color scheme */
body {
    background-color: #000000;
    color: #ffffff;
}

/* Page layout */
header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

.logo img {
    max-width: 100px;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    color: #800080;
    transition: 0.4s;
}


.details-content {
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    border: 2px solid #800080;
    border-radius: 5px;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 10px 0;
}

.profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    line-height: 10px;
}

.details-content p {
    margin-bottom: 10px;
    text-align: justify;
    line-height: 20px;
}

strong {
    color: white;
    font-size: medium;
    text-align: justify;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul li {
        margin: 0 5px;
    }

    .logo img {
        max-width: 80px;
    }

    .profile-picture img {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 576px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }

    .logo {
        font-size: 24px;
    }

    .profile-picture img {
        width: 80px;
        height: 80px;
    }
}
/* Personal Page End */

/* Contacts Page Start */

.contact-info {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contact-info div {
    text-align: center;
    margin: 0 20px;
}

.contact-info img {
    width: 30px;
    height: auto;
    margin-bottom: 10px;
}

form {
    margin-top: 30px;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

form .form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333333;
    color: #ffffff;
}

form textarea {
    resize: vertical;
}

form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #800080;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

form button[type="submit"]:hover {
    background-color: #600060;
}

footer {
    background-color:#000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.photo-item {
    width: 300px;
    margin: 10px;
}

.photo-item.one img {
    width: 100px;
    height: auto;
}

.photo-item.three img {
    width: 300px;
    height: 225px;
}
.photo-item.five img {
    width: 300px;
    height: 225px;
}
.photo-item.six img {
    width: 300px;
    height: 225px;
}
.photo-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
}

.photo-item img:hover {
    transform: scale(1.05);
}

.photo-item p {
    margin-top: 10px;
    text-align: center;
}


